@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');
:root{
    --heading-bg: hsl(210, 90%, 20%);
    --heading-text: hsl(0, 0%, 100%);
    --lastMeet-color: rgb(50, 150, 200);
    --currMeet-color: #34d523;
    --title-color: blueviolet;
    --form-label: rgb(0, 39, 166);
}

* {
    box-sizing: border-box;
}

main {
    max-width: 800px; 
    margin: auto; 
}

footer {
    max-width: 800px; 
    margin: auto;
}
body{
    background-color: color(display-p3 0.839 0.885 1 / 1);
}

h2, h3 {
    font-family: "Playfair Display", serif;
}

#meeting-intro{
    font-family: 'Open Sans', sans-serif;
}

#Last-Meeting-Head{
    color: var(--lastMeet-color, rgb(50, 150, 200))
}
#Curr-Meeting-Head{
    color: var(--currMeet-color,#34d523)
}
#Notes-App-Title{
    color:blueviolet
}
h1 {
    padding: 7px 15px;
    border-radius: 8px;
    background-color: var(--heading-bg, hsl(210, 90%, 20%));
    color: var(--heading-text, hsl(0, 0, 100%));
}



#Participant-List{
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}

.taskList {
    padding: 15px 35px 15px 35px;
    border-radius: 8px;
    color: color(display-p3 0 0.4 1);
    background-color: color-mix(in srgb, color(display-p3 0 0.4 1) 20%, white);
}

#Curr-Meeting-Summary {
    padding: 5mm;
    border-radius: 14Q;
    background-image: linear-gradient(to top, #19afc3, #00c4be, #00d69f, #4ee46b, #a8eb12);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-image: linear-gradient(to right, #b737bc, #8560d6, #4b79dd, #0089d5, #0c93c3);
    border-radius: 5px;

    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;

    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;

    text-align:center;
}

nav a{
    display: inline-block;
    color: var(--heading-text, white); 
    text-decoration: none; 
    background-color: var(--past-color, rgb(50, 150, 200));
    padding: 10px 20px;
    margin: 5px; 
    border-radius: 5px;
}

a:hover {
    opacity: 0.8; 
    cursor: pointer; 
}

a:active {
    transform: scale(0.95); 
}

a[class="last-nav"] {
    background-color: purple;
    font-family: 'Open Sans', sans-serif;
}

a[class="curr-nav"] {
    background-color: blue
}

.meeting-form {
    max-width: 800px;
    margin: auto;
    
    fieldset {
        position: relative; 
        margin-top: 30px;
        border: 3px solid var(--heading-bg, hsl(210, 90%, 20%));
        border-radius: 10px;
        padding: 30px;
    }
}

.tag{
    position: absolute; 
    top: -10px;
    left: 20px;
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
    background-image: linear-gradient(to left bottom, #036d11, #44810b, #729408, #9fa610, #ceb721);
}

.ideas-form {
    height: 2rem;
    width: 80%;
    max-width: 400px;
    min-width: 200px;
}

.radio-participation {
    display: flex;
    flex-direction: row; 
    gap: 15px;           
    align-items: center; 
}

.checkbox-ideas{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 10px;           
    align-items: center; 
}

.idea:has(input[type="checkbox"]:checked) {
    background-color: var(--current-color, #34d523);
    border-radius: 5px;
    padding: 5px;
}

form label {
    font-weight: bold;
    font-family: sans-serif;
    opacity: 80%;
}

fieldset > p {
    text-decoration: underline;
    margin-bottom: 1em;
}

input + label {
    color: var(--form-label, rgb(0, 39, 166));
}

label ~ textarea {
    border-style: solid;
    border-width: 2px;
    border-color: var(--heading-bg, hsl(210, 90%, 20%));
    border-radius: 10px;
}

p.submit-ideas {
    color: #2700b3;
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    
    .radio-participation {
        display: grid;
        /* Creates exactly two columns: one for the radio circle, one for the text */
        grid-template-columns: max-content auto; 
        
        row-gap: 15px;    /* Adds vertical space between the Yes and No rows */
        column-gap: 5px;  
        
        align-items: center 
    }

    .checkbox-ideas {
        grid-template-columns: max-content; 
    }

    nav a {
        display: block;
        margin: 10px 0px; 
    }

    fieldset {
        padding: 15px;
        margin: 10px;
    }
}
